<div class="container">
		<div id="mobile-app" class="app-download-inner mb-5">
				<div class="row align-items-center">
						<div class="col-lg-6 col-md-12">
								<div class="app-download-content">
										<span class="sub-title">DOWNLOAD APP</span>
										<h2>Download the mobile app to start mining today! </h2>
										<p>Keep your money! Pi is free. All you need is an invitation from an existing trusted member on the network. If you have an invitation you can download the mobile app below.</p>
										<div class="btn-box">
												<a href="<%= links.android %>" class="playstore-btn" target="_blank">
														<img src="/img/play-store.png" alt="image">
														Get It On
														<span>Google Play</span>
												</a>
												<a href="<%= links.ios %>" class="applestore-btn" target="_blank">
														<img src="/img/apple-store.png" alt="image">
														Download on the
														<span>Apple Store</span>
												</a>
										</div>
										<h3 class="use-code mt-5">Use your invitation code <span>"<%= invitationCode %>"</span> after installing the app.</h3>
								</div>
						</div>
						<div class="col-lg-6 col-md-12">
								<div class="app-download-image" data-aos="fade-up">
										<img src="/img/pi-mining-img.png" alt="app-img">
								</div>
						</div>
				</div>
				<div class="shape5"><img src="/img/shape/shape4.png" alt="shape4"></div>
				<div class="lines">
						<div class="line"></div>
						<div class="line"></div>
						<div class="line"></div>
						<div class="line"></div>
						<div class="line"></div>
				</div>
		</div>
</div>