<!-- Start Footer Area -->
<div class="footer-area">
	<div class="container">
			<div class="footer-content">
					<a href="index.html" class="logo">
							<img src="/img/logo2.png" alt="logo">
					</a>
					<ul class="social-links">
							<li><a href="https://www.facebook.com/PiCoreTeam" target="_blank"><i class="ri-facebook-fill"></i></a></li>
							<li><a href="https://twitter.com/PiCoreTeam" target="_blank"><i class="ri-twitter-fill"></i></a></li>
							<li><a href="https://www.linkedin.com/company/pi-net" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
							<li><a href="https://www.instagram.com/pi_network" target="_blank"><i class="ri-instagram-fill"></i></a></li>
					</ul>
					<ul class="navbar-nav">
							<li class="nav-item"><a href="<%= links.official %>/<%= invitationCode %>" target="_blank" class="nav-link">Pi Network Official</a></li>
							<li class="nav-item"><a href="https://socialchain.app/tos" target="_blank" class="nav-link">Terms of Service</a></li>
							<li class="nav-item"><a href="https://socialchain.app/privacy" target="_blank" class="nav-link">Privacy Policy</a></li>
					</ul>
					<p class="copyright">Copyright @2019 <strong>Pi Miner</strong>. All Rights Reserved</p>
			</div>
	</div>
</div>
<!-- End Footer Area -->

<div class="go-top"><i class="ri-arrow-up-s-line"></i></div>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-HNZXEMZQTF"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-HNZXEMZQTF');
</script>

<!-- Link of JS files -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/swiper-bundle.min.js"></script>
<script src="/js/magnific-popup.min.js"></script>
<script src="/js/meanmenu.min.js"></script>
<script src="/js/appear.min.js"></script>
<script src="/js/odometer.min.js"></script>
<script src="/js/form-validator.min.js"></script>
<script src="/js/contact-form-script.js"></script>
<script src="/js/ajaxchimp.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/main.js"></script>