<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Link of CSS files -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/aos.css">
<link rel="stylesheet" href="/css/fontawesome.min.css">
<link rel="stylesheet" href="/css/odometer.min.css">
<link rel="stylesheet" href="/css/remixicon.css">
<link rel="stylesheet" href="/css/magnific-popup.min.css">
<link rel="stylesheet" href="/css/meanmenu.min.css">
<link rel="stylesheet" href="/css/swiper-bundle.min.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/css/style.css">

<title><%= title %> | Pi Mainer</title>

<link rel="icon" type="image/png" href="/img/favicon.png">