<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<body>

	<%- include('../partials/header'); %>

	<div class="error-area pb-100" style="min-height:100vh">
		<div class="container">
				<div class="error-content">
						<img src="/img/error.png" alt="image">
						<p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
						<a href="/" class="default-btn">Back To Home</a>
				</div>
		</div>
	</div>

	</body>
</html>