<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<body>

<%- include('../partials/header'); %>

<div class="page-title-area">
	<div class="container">
			<div class="page-title-content">
					<h2>About Pi Network</h2>
					<ul>
							<li><a href="/">Home</a></li>
							<li>About Pi Network</li>
					</ul>
			</div>
	</div>
	<div class="divider"></div>
	<div class="lines">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
	</div>
	<div class="banner-shape1"><img src="/img/shape/shape9.png" alt="image"></div>
</div>

<div class="about-area">
	<div class="container">
			<div class="row align-items-center">
					<div class="col-lg-6 col-md-12">
							<div class="about-content ptb-100">
									<span class="sub-title">ABOUT</span>
									<h2>What Is Pi Network?</h2>
									<p>Pi Network is a novel cryptocurrency and developer platform that allows mobile users to mine Pi coins without draining the device's battery, reducing the environmental impact, and fosters the world's most accessible and ubiquitous apps platform where developers can offer users real life utilities and products in exchange for Pi coins.</p>
									<p>With its 30+ million engaged user base (as of December 2021) that allows anyone to mine straight from their smartphones, Pi Network strives to bring real economic power back to the masses. Pi's blockchain secures not only economic transactions via a mobile meritocracy system but also a full Web 3.0 experience where community developers can build decentralized applications (dApps) for millions of users.</p>

									<div class="btn-box">
											<a href="#mobile-app" class="default-btn">Start mining</a>
									</div>
							</div>
					</div>
					<div class="col-lg-6 col-md-12">
							<div class="about-image">
									<img src="/img/about-img.png" data-aos="fade-up" alt="about">
							</div>
					</div>
			</div>

			<div class="about-content mb-5">
				<h2>What Makes Pi Network Unique?</h2>
				
				<p>Pi's blockchain uses an adaptation of the Stellar Consensus Protocol (SCP) — an instantiation of the Federated Byzantine Agreement — to validate transactions.</p>
				<p>Compared to traditional blockchain mining methods like proof of work or stake, Pi's protocol uniquely provides decentralized control, low latency, flexible trust and asymptotic security at a fraction of the environmental cost. In short, fault tolerance is achieved through a decentralized web of nodes reaching consensus via a trust network of mobile users who validate their daily presence and vouch for others' authenticity in the network to earn Pi. Environmental impact is vastly lowered since this method does not require energy-intensive hardware to mine.</p>
				<p>Pi Network's robust economic design is built on an intuitive and transparent model, facilitating Pi coins as a medium of exchange without token concentration. Key tenets include fair distribution (every user has the same base mining rate), scarcity (the mining rate decreases as more people join), and meritocracy (rewards are distributed based on contributions to the network).</p>
				<p>Pi Network's developer platform also offers numerous qualities that may interest developers. As the world's largest identity-authenticated userbase, Pi Network has pre-built infrastructures such as a crypto wallet, user authentication, notifications, deep linking, app interoperability and many other functionalities in its pipeline. Its App Engine uses an operating system similar to Apple's iOS, with a secure blockchain component. Community developers can incorporate Pi's SDK and user-authentication measures into their apps, enabling Pioneers to seamlessly integrate into the Pi ecosystem and move back and forth between different interoperable apps without logging in separately or providing other contact information.</p>
			</div>
	</div>
</div>

<div class="app-download-area">
<%- include('../partials/appblock'); %>
</div>

<%- include('../partials/footer'); %>
			
	</body>
</html>